.admin-categories-container {
    padding: 20px;
    margin-top: 7ch;
  }
  
  .form-container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
  }
  
  .admin-categories-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .admin-categories-table th {
    background-color: #f7f7f7;
    color: #333333;
    font-weight: bold;
    padding: 12px;
    text-align: center;
  }
  
  .admin-categories-table td {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .admin-categories-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .admin-categories-table tr:hover td {
    background-color: #e0f7fa;
    cursor: pointer;
  }
  
  .edit-button,
  .save-button,
  .cancel-button,
  .delete-button {
    width: 100px; /* Set a fixed width for all buttons */
    text-align: center;
    background-color: #007bff; /* Blue for Edit */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .save-button {
    background-color: #28a745; /* Green for Save */
  }
  
  .save-button:hover {
    background-color: #218838;
  }
  
  .cancel-button {
    background-color: #ffc107; /* Yellow for Cancel */
  }
  
  .cancel-button:hover {
    background-color: #e0a800;
  }
  
  .delete-button {
    background-color: #dc3545; /* Red for Delete */
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  