@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.category-card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.399);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);
}

.category-card {
    margin: 20px;
    width: 250px;
    height: auto;
    background-color: #b5b3b382;
    box-shadow: rgba(100,100, 11, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);
}

.image-wrapper {
    position: relative;
}

.category-image {
    width: 100%;
    padding: 20px;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
    opacity: 0.85;
    transition: filter 0.3s ease-in-out;
}

.card-text-container {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
}

.card-text-container .category-name {
    font-size: 23px;
    color: rgb(0, 0, 0)
}

.quote {
    font-size: 15px;
    color: #222;
    font-style: italic;
}

.quote-owner-span {
    font-size: 12px;
    color: #000000;
}

